{% extends 'project/base.html' %}
{% load static %}
<style>
    a:hover 
    {
        color: grey;
    }
</style>
{% block title %}
<h1>{{banner.title}}</h1>
{% endblock title %}
{% block description %}
<h2 style="color: white;">{{banner.description}}</h2>
{% endblock description %}
{% block body %}
{% for blog in blogs %}
<section id="about" class="about">
    <div class="container">
      <div class="row content">
        <div class="col-lg-3" style="padding-left: 5%">
            <img src="{{blog.image.url}}" height=175px width=175px style="border-radius: 50%;"/> 
        </div>
        <div class="col-lg-6">
            <h3><a href="/blogpost/{{blog.slug}}" class="text-dark">{{blog.title}}</a></h3>
            <h5>- By: {{blog.author}}, {{blog.details}}</h5>
            <p>{{blog.content|slice:200|safe}}...</p>
        </div>
      </div>
    </div>
  </section>
{% endfor %}
{% endblock body %}